#open-input-modal {
  display: none; /* Hide the button unless user scrolls past certain point */
  position: fixed;
  bottom: 2rem;
  left: 50%; /* Centers the button */
  transform: translateX(-50%); /* Centers the button */
  z-index: 9999;
  width: 20%;
  padding: 0.5rem;
  background-color: var(--orangemain);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Geologica', sans-serif;
  font-size: 20px;
}

#open-input-modal:hover {
  background-color: #ff8d22;
}

/* Dialog/Modal element*/
dialog {
  z-index: 10;
  background: var(--purplebg);
  border: none;
  border-radius: 2rem;
  margin: auto;
  min-width: 25%;
  min-height: 50%;
  padding: 2rem;
  box-sizing: border-box;
  overflow-x: hidden;

 #add-label {
    color: var(--almostwhite);
    font-size: 36px;
    margin: 0;
    font-family: 'Geologica', sans-serif;
  }
}

dialog::backdrop {
    background-color: rgba($color: #000000, $alpha: 0.6);
    backdrop-filter: blur(5px);
}

form {
  
  input, textarea {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Geologica', sans-serif;
    font-size: 18px;
  }
    
  select {
    padding: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #cacaca;
    font-family: 'Geologica', sans-serif;
    font-size: 18px;
    width: 100%;
  }

  select:focus {
    color: #000000;
  }

  option {
    color: black;
  }

  option:not(:first-of-type) {
    color: black;
  }

  option:first-of-type {
    color: #cacaca;
  }

  #submit-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--orangemain);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Geologica', sans-serif;
    font-size: 18px;
  }

  #submit-button:hover {
    background-color: #ff8d22;
  }

  #close-input-modal {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #646464;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: 'Geologica', sans-serif;
      font-size: 18px;
  }

  #close-input-modal:hover {
    background-color: #3b3b3b;
  }

}

/* Floating label above input field */
/* Reference: https://dev.to/yne/floating-label-over-input-cci */
label {
  display: flex;
  flex-direction: column-reverse;

  span {
    transition: all .2s;
    transform-origin: top left;
    color: var(--almostwhite);
    font-family: 'Geologica', sans-serif;
    font-size: 16px;
  }

  input[placeholder=" "]:not(:focus):placeholder-shown + span {
    transform: translateX(1em) translateY(1.9em) scale(1.2);
    pointer-events: none;
    color: grey;
    opacity: 0.5;
  }

  textarea[placeholder=" "]:not(:focus):placeholder-shown + span {
    transform: translateX(1em) translateY(1.9em) scale(1.2);
    pointer-events: none;
    color: grey;
    opacity: 0.5;
  }
}

/* List element */
#tasklist {

  padding: 40px;
  padding-bottom: 100px;

  li {
    background: var(--almostblack);
    margin-bottom: 2rem;
    width: 20%;
    max-width: 20%;
    display: inline-block;
    margin-right: 5%;
    text-align: center;
    border-radius: 2rem;
  
    figure {
      background-color: var(--lessgrey);
      margin-top: 0;
      margin-left: 0;
      margin-right: 0; 
      border-radius: 2rem 2rem 0 0;
  
      img {
        vertical-align: top;
        width: 75%;
        object-fit: cover;
      }
    }
  
    h1 { /* excercise name */
      @extend %lessgreyGeologica;
      font-size: 32px;
      margin-top: 0;
      margin-bottom: 0; 
      line-height: 1;
    }
  
    h2 {  /* muscle group and date */
      @extend %lessgreyGeologica;
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 15px; 
      font-weight: normal;
    }
  
    button { /* view more button */
      width: 100%;
      padding: 0.25rem;
      margin-top: 10px;
      background-color: var(--lessdark);
      color: var(--almostwhite);
      border: none;
      border-radius: 0 0 2rem 2rem;
      cursor: pointer;
      font-family: 'Geologica', sans-serif;
      font-size: 18px;
    }
  
    button:hover {
      background-color: #0c0c0c;
    }
  
    dialog {
      padding: 0;
      min-width: 50%;
  
      figure {
        background-color: var(--lessgrey);
        margin-top: 0;
        margin-left: 0;
        margin-right: 0; 
        
        img {
          vertical-align: top;
          height: 20vh; 
          object-fit: contain;
        }
      }
  
      h1 { /* excercise name */
        @extend %almostwhiteGeologica;
        font-size: 64px;
        margin-top: 0;
        margin-bottom: 0; 
        padding: 0;
        line-height: 1;
      }
    
      h2 { /* muscle group and date */
        @extend %almostwhiteGeologica;
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 0; 
        font-weight: normal;
        line-height: 1;
      }
    
      h3 { /* sets reps weight */
        @extend %almostwhiteKanit;
        font-size: 32px;
        margin-top: 40px;
        margin-bottom: 0; 
        font-weight: normal;
        line-height: 1.2;
      }
    
      p { /* additional info */
        @extend %almostwhiteKanit;
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 0; 
        line-height: 1;
        overflow-wrap: break-word;
      }
  
      #delete-button {
        width: 20%;
        padding: 8px;
        margin-top: 20px;
        background-color: #640000;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: left;
        margin-left: 5%;
        font-family: 'Geologica', sans-serif;
        font-size: 14px;
      }
    
      #delete-button:hover {
        background-color: #d41b1b;
      }
    
      #close-button {
          width: 100%;
          padding: 10px;
          margin-top: 10px;
          background-color: var(--lessdark);
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-family: 'Geologica', sans-serif;
          font-size: 18px;
      }
    
      #close-button:hover {
        background-color: #000000;
      }
  
    }
  }
}

