/* Dialog/Modal element*/
dialog {
  z-index: 10;
  background: rgb(230, 183, 30);
  border: none;
  border-radius: 1rem;
  margin: auto;
  max-width: 80%;
  padding: 2rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

dialog::backdrop {
    background-color: rgba($color: #000000, $alpha: 0.4);
    backdrop-filter: blur(5px);
}

/* Floating label above input field */
/* Reference: https://dev.to/yne/floating-label-over-input-cci */
label {
  display: flex;
  flex-direction: column-reverse;

  span {
    transition: all .2s;
    transform-origin: top left;
  }

  input[placeholder=" "]:not(:focus):placeholder-shown + span {
    transform: translateY(1em) scale(1.2);
    pointer-events: none;
    opacity: .5
  }
}
