/* CSS Grid */
.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 100vh;
  height: 100vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "landing-page"
    "content-page";
}

.landing-page { grid-area: landing-page; }

.content-page { grid-area: content-page; }

/* Allign weight measurement select element with weight input element */
.form-row-weight {
  display: flex;
  align-items: center;

  label {
    margin-right: 1rem;
  }
}

#taskWeightMeasurement {
  align-self: flex-end;
}

.form-row-reps, .form-row-goal {
  padding-top: 2rem;
}
