@import 'layout';
@import 'typography';
@import 'elements';

:root {
  --almostblack: rgb(32, 32, 32);
  --lessdark: rgb(54, 54, 54);
  --lessgrey: rgb(211, 211, 211);
  --almostwhite: rgb(235, 235, 235);
  --purplebg: #322260;
  --orangemain:#cf7e14;
}

%lessgreyText {
  text-align: left;
  margin-left: 5%;
  color: var(--lessgrey);
  font-family: 'Kanit', sans-serif;
}

%almostwhiteText {
  text-align: left;
  margin-left: 5%;
  color: var(--almostwhite);
  font-family: 'Kanit', sans-serif;
}

strong {
  font-weight: 900;
}

html, body {
    background-color: var(--purplebg);
  }
  