/* CSS Grid */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 100vh;
  height: 100vh;
  padding: 0;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "landing-page" "content-page";
}

.landing-page {
  grid-area: landing-page;
  /* the landing page background is the background of the first grid box, 
  which covers the entire viewport rather than the page,
  to allow for scrolling without a fixed background */
  background: url(images/gym.png) no-repeat center;
  background-size: fill;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.landing-page h1 {
  font-family: "Geologica", sans-serif;
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
  color: var(--almostwhite);
}
.landing-page #cta {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--orangemain);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Geologica", sans-serif;
  font-size: 24px;
}
.landing-page #cta:hover {
  background-color: #ff8d22;
}

#content-page {
  grid-area: content-page;
  padding-top: 40px;
}
#content-page h1 {
  margin-left: 40px;
  color: var(--almostwhite);
  font-family: "Geologica", sans-serif;
}

/* Allign weight measurement select element with weight input element */
.form-row-weight {
  display: flex;
  align-items: center;
}
.form-row-weight label {
  margin-right: 1rem;
}

#taskWeightMeasurement {
  align-self: flex-end;
}

/* Padding Inside Form */
.form-row-reps, .form-row-goal {
  padding-top: 2rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 100vh;
    padding: 0;
  }
  .landing-page h1 {
    font-size: 48px;
  }
  .landing-page #cta {
    padding: 0.75rem;
    font-size: 16px;
  }
  #content-page h1 {
    font-size: 24px;
  }
  #open-input-modal {
    min-width: 50%;
    font-size: 20px !important;
  }
  form input, form textarea {
    padding: 5px !important;
    font-size: 16px !important;
  }
  form select {
    padding: 5px !important;
    font-size: 16px !important;
  }
  #add-label {
    font-size: 24px !important;
  }
  /* Padding Inside Form */
  .form-row-reps, .form-row-goal {
    padding-top: 1rem;
  }
  /* Floating label above input field */
  label span {
    font-size: 14px !important;
  }
  label input[placeholder=" "]:not(:focus):placeholder-shown + span {
    transform: translateX(0.7em) translateY(1.6em) scale(1.2) !important;
  }
  label textarea[placeholder=" "]:not(:focus):placeholder-shown + span {
    transform: translateX(0.7em) translateY(1.6em) scale(1.2) !important;
  }
  #submit-button {
    padding: 0.5rem !important;
    margin-top: 15px !important;
    font-size: 16px !important;
  }
  #close-input-modal {
    padding: 0.5rem !important;
    margin-top: 10px !important;
    font-size: 16px !important;
  }
  #tasklist {
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 0 !important;
    padding-bottom: 100px !important;
  }
  #tasklist li {
    width: 45%;
    min-width: 45%;
    margin-right: 2.5% !important;
    margin-left: 2.5% !important;
    margin-bottom: 1rem !important;
  }
  #tasklist li h1 { /* excercise name */
    font-size: 20px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  #tasklist li h2 { /* muscle group and date */
    font-size: 14px !important;
    margin-top: 0 !important;
    margin-bottom: 5px !important;
  }
  #tasklist li button { /* view more button */
    padding: 0.75rem !important;
    margin-top: 10px !important;
    font-size: 16px !important;
  }
  #tasklist li dialog {
    padding: 0;
    min-width: 90% !important;
  }
  #tasklist li dialog figure {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  #tasklist li dialog figure img {
    vertical-align: top;
    height: 30vh;
    width: 50%;
    object-fit: contain;
  }
  #tasklist li dialog h1 { /* excercise name */
    font-size: 32px !important;
  }
  #tasklist li dialog h2 { /* muscle group and date */
    font-size: 20px !important;
  }
  #tasklist li dialog h3 { /* sets reps weight */
    font-size: 20px !important;
  }
  #tasklist li dialog p { /* additional info */
    font-size: 14px !important;
  }
  #tasklist li dialog #delete-button {
    width: 10rem !important;
    padding: 4px !important;
    margin-top: 20px !important;
    font-size: 14px !important;
  }
}
#open-input-modal {
  display: none; /* Hide the button unless user scrolls past certain point */
  position: fixed;
  bottom: 2rem;
  left: 50%; /* Centers the button */
  transform: translateX(-50%); /* Centers the button */
  z-index: 9999;
  width: 20%;
  padding: 0.5rem;
  background-color: var(--orangemain);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Geologica", sans-serif;
  font-size: 20px;
}

#open-input-modal:hover {
  background-color: #ff8d22;
}

/* Dialog/Modal element*/
dialog {
  z-index: 10;
  background: var(--purplebg);
  border: none;
  border-radius: 2rem;
  margin: auto;
  min-width: 25%;
  min-height: 50%;
  padding: 2rem;
  box-sizing: border-box;
  overflow-x: hidden;
}
dialog #add-label {
  color: var(--almostwhite);
  font-size: 36px;
  margin: 0;
  font-family: "Geologica", sans-serif;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

form input, form textarea {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Geologica", sans-serif;
  font-size: 18px;
}
form select {
  padding: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #cacaca;
  font-family: "Geologica", sans-serif;
  font-size: 18px;
  width: 100%;
}
form select:focus {
  color: #000000;
}
form option {
  color: black;
}
form option:not(:first-of-type) {
  color: black;
}
form option:first-of-type {
  color: #cacaca;
}
form #submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--orangemain);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Geologica", sans-serif;
  font-size: 18px;
}
form #submit-button:hover {
  background-color: #ff8d22;
}
form #close-input-modal {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #646464;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Geologica", sans-serif;
  font-size: 18px;
}
form #close-input-modal:hover {
  background-color: #3b3b3b;
}

/* Floating label above input field */
/* Reference: https://dev.to/yne/floating-label-over-input-cci */
label {
  display: flex;
  flex-direction: column-reverse;
}
label span {
  transition: all 0.2s;
  transform-origin: top left;
  color: var(--almostwhite);
  font-family: "Geologica", sans-serif;
  font-size: 16px;
}
label input[placeholder=" "]:not(:focus):placeholder-shown + span {
  transform: translateX(1em) translateY(1.9em) scale(1.2);
  pointer-events: none;
  color: grey;
  opacity: 0.5;
}
label textarea[placeholder=" "]:not(:focus):placeholder-shown + span {
  transform: translateX(1em) translateY(1.9em) scale(1.2);
  pointer-events: none;
  color: grey;
  opacity: 0.5;
}

/* List element */
#tasklist {
  padding: 40px;
  padding-bottom: 100px;
}
#tasklist li {
  background: var(--almostblack);
  margin-bottom: 2rem;
  width: 20%;
  max-width: 20%;
  display: inline-block;
  margin-right: 5%;
  text-align: center;
  border-radius: 2rem;
}
#tasklist li figure {
  background-color: var(--lessgrey);
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: 2rem 2rem 0 0;
}
#tasklist li figure img {
  vertical-align: top;
  width: 75%;
  object-fit: cover;
}
#tasklist li h1 { /* excercise name */
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}
#tasklist li h2 { /* muscle group and date */
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
}
#tasklist li button { /* view more button */
  width: 100%;
  padding: 0.25rem;
  margin-top: 10px;
  background-color: var(--lessdark);
  color: var(--almostwhite);
  border: none;
  border-radius: 0 0 2rem 2rem;
  cursor: pointer;
  font-family: "Geologica", sans-serif;
  font-size: 18px;
}
#tasklist li button:hover {
  background-color: #0c0c0c;
}
#tasklist li dialog {
  padding: 0;
  min-width: 50%;
}
#tasklist li dialog figure {
  background-color: var(--lessgrey);
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
#tasklist li dialog figure img {
  vertical-align: top;
  height: 20vh;
  object-fit: contain;
}
#tasklist li dialog h1 { /* excercise name */
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  line-height: 1;
}
#tasklist li dialog h2 { /* muscle group and date */
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1;
}
#tasklist li dialog h3 { /* sets reps weight */
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.2;
}
#tasklist li dialog p { /* additional info */
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 0;
  line-height: 1;
  overflow-wrap: break-word;
}
#tasklist li dialog #delete-button {
  width: 20%;
  padding: 8px;
  margin-top: 20px;
  background-color: #640000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-left: 5%;
  font-family: "Geologica", sans-serif;
  font-size: 14px;
}
#tasklist li dialog #delete-button:hover {
  background-color: #d41b1b;
}
#tasklist li dialog #close-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--lessdark);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Geologica", sans-serif;
  font-size: 18px;
}
#tasklist li dialog #close-button:hover {
  background-color: #000000;
}

:root {
  --almostblack: rgb(32, 32, 32);
  --lessdark: rgb(54, 54, 54);
  --lessgrey: rgb(211, 211, 211);
  --almostwhite: rgb(235, 235, 235);
  --purplebg: #3a1857;
  --orangemain:#cf7e14;
}

#tasklist li dialog h3, #tasklist li dialog p {
  text-align: left;
  margin-left: 5%;
  color: var(--almostwhite);
  font-family: "Kanit", sans-serif;
}

#tasklist li h1, #tasklist li h2 {
  text-align: left;
  margin-left: 5%;
  color: var(--almostwhite);
  font-family: "Geologica", sans-serif;
}

#tasklist li dialog h1, #tasklist li dialog h2 {
  text-align: left;
  margin-left: 5%;
  color: var(--almostwhite);
  font-family: "Geologica", sans-serif;
}

strong {
  font-weight: 900;
}

html, body {
  background-color: var(--purplebg);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
